body { padding: 0pt; margin: 0pt; }
a { padding: 0pt; margin: 0pt; border: medium none; overflow: visible; background: none repeat scroll 0% 0% transparent; outline: medium none; display: block; text-decoration: none; }
.tb a { height: 20px; }
.offscreen { position: absolute; left: -999em; }
.t-count { visibility: hidden; }
.show-count .t-count { visibility: visible; }
.tb-container { display: block; }
.tb { display: block; height: 20px; }
.tb, .t-count, .t-count a { background: url('tweet.dfbf1dd98bad9f5b5addd80494650dca.png') no-repeat scroll 0% 0% transparent; }
.tb a span { position: absolute; left: -999em; }
.tb:hover, .tb-focus { background-position: 0pt -21px; }
.tb:active { background-position: 0pt -42px; }
.vcount .t-count, .hcount .t-count { display: block; }
.hcount .tb { float: left; width: 55px; }
.hcount .t-count { background-position: 0pt -145px; float: left; height: 20px; padding: 0pt 0pt 0pt 8px; margin: 0pt 0pt 0pt 3px; }
.hcount .t-count a { background-position: right -145px; height: 20px; min-width: 26px; padding: 0pt 4px 0pt 0pt; margin: 0pt -1px 0pt 0pt; display: block; font: bold 12px/20px Arial,Helvetica,sans-serif; color: rgb(42, 112, 144); text-align: center; }
.hcount .t-count.enabled:hover, .hcount .t-count-focus.enabled { background-position: 0pt -166px; }
.hcount .t-count.enabled:hover a, .hcount .t-count-focus.enabled a { color: rgb(48, 86, 109); text-shadow: 0pt 1px 0pt rgb(255, 255, 255); background-position: right -166px; }
